.gpt3_features {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.gpt3_features-heading {
  flex: 1;
  margin-right: 2rem;
}

.gpt3_features-heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  background: var(--gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gpt3_features-heading p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  margin-top: 2rem;
  color: #ff8a71;
  cursor: pointer;
}

.gpt3_features-container {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gpt3_features-container .gpt3_features-container_feature {
  flex-direction: row;
  margin-inline: 0;
}

.gpt3_features-container
  .gpt3_features-container_feature
  .gpt3_features-container_feature-title
  h1 {
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 950px) {
  .gpt3_features {
    flex-direction: column;
  }
  .gpt3_features p {
    margin-bottom: 2rem;
  }
  .gpt3_features-heading {
    margin-right: 0;
  }
}
@media screen and (max-width: 550px) {
  .gpt3_features-heading {
    width: 100%;
  }
  .gpt3_features h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .gpt3_features p {
    margin-bottom: 2rem;
  }
  .gpt3_features-container .gpt3_features-container_feature {
    flex-direction: column;
  }
  .gpt3_features-container
    .gpt3_features-container_feature
    .gpt3_features-container_feature-title
    h1 {
    margin-bottom: 1rem;
    width: 100%;
  }
  .gpt3_features-container
    .gpt3_features-container_feature
    .gpt3_features-container_feature-title {
    max-width: 100%;
  }
}
